@import url("https://fonts.googleapis.com/css?family=Kodchasan&display=swap" rel="stylesheet");

p{
	padding-bottom: 20px;
	padding-top: 10px;
	font-family: Arial;
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
	font-family: 'Heebo', sans-serif;
}

h2{
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  padding-top: 20px;
/*  font-family: 'Heebo', sans-serif;
*/ 
  margin-right: 10px;
  background-color: /*#e5bcdf*/ #efd0eb;
  width: 100%;
  padding: 10px;
  margin-left: 0px;
}

h3{
	font-family: 'Kodchasan', sans-serif;
	font-size: 18px;
	width: 100%;
  	padding: 10px;
  	padding-top: 0px;
  	margin-left: 0px;
  	background-color:#efd0eb;
  	font-style: italic;
}

.opdrachten{
	font-family: 'Kodchasan', sans-serif;
	font-size: 18px;
	width: 100%;
  	padding: 10px;
  	margin-left: 0px;
  	background-color:#efd0eb;
  	font-style: italic;
}
.conceptenVisualisatie{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.h3ar{
  padding-top: 5px;
}

.kleuren{
	padding: 0px;
	font-style: italic;
}

#onderKleur{
	padding-bottom: 10px;
}

/*
* {box-sizing:border-box}

.mySlides, .mySlides4 {
	display: none;
}


img{
	vertical-align: middle;
	width: 330px;
	height: 240px;}

.slideshow-container {
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 15px;
}

.prev:hover, .next:hover {
  background-color:#efd0eb;
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 92%;
  text-align: center;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/

.witvlakte{
	height: 50px;
}

.bronnen{
	text-align: left;
}

.bronH{
	 font-weight: bold;
	 padding-bottom: 0px;
}

.formuleT{
	font-weight: bold;
	padding-bottom: 0px;
}

.formule{
	padding-top: 0px;
}

